@import './reset.css';
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
    background-color: #E5E5E5;
}

.container {
    max-width: 1230px;
    margin: 50px auto;
}

/* Header */

.header {
    padding: 46px 30px 0 30px;
    background-color: #F1F1F1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.logo {
    position: relative;
    padding: 0 12px 3px 0;
    
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    color: #000000;
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
    
}


/* Nav */

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
}

.nav-button {
    display: none;
    border-radius: 50%;    
}

.nav-link {
    color: #000000;
}

.nav-link.active {
    color: #606060;
}

/* Header content */

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    margin-top: 124px;
    max-width: 500px;
}

.header-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 44px;
}

.header-content p {
    line-height: 200%;
}


/* Services */

.services {
    background-color: #ffffff;
}

.services-row {
    display: flex;
    padding: 90px 30px;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.service-card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-width: 300px;
}

.servece-card-title {
    margin: 30px 0 10px 0;
    font-size: 24px;
    font-weight: 600;
}

.service-card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
}


/* Portfolio */

.portfolio {
    padding: 90px 0;
    background-color:#F1F1F1;
}

.portfolio-title {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center;
}

.portfolio-cards {
    text-align: center;
}

.portfolio-desc {
    margin: 40px 0 90px 0;
    font-size: 16px;
    text-decoration: underline;
    color: #000000;
}


/* footer */

.footer {
    padding: 90px 0;
    text-align: center;
    background-color: #ffffff;
}

.contacts-title {
    font-size: 34px;
    font-weight: 600;
}

.contacts-content {
    line-height: 2;
    margin: 40px 0;
    font-size: 18px;
}

.contacts-button a {
    padding: 7px 22px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
}

.contacts-social {
    display: flex;
    margin: 80px 0 40px 0;
    column-gap: 60px;
    justify-content: center;
}

.contacts-footer {
    line-height: 2;
}